html,
body
{
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

h1,
h2
{
    position: relative;
}

.input-box
{
    margin: 10px;
    width: 170px;
    display: flex;
    flex-wrap: wrap;
}

.chart
{
    position: relative;
    margin-top: 25px;
    margin: 25px 20px;
    width: 80vw;
    max-width:1000px;
}