html,
body
{
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

h1,
h2
{
    position: relative;
}

.input-box
{
    margin: 10px;
    width: 170px;
    display: flex;
    flex-wrap: wrap;
}

.chart
{
    margin-top:50px;
}
