html,
body
{
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

h1,
h2
{
    position: relative;
}

.conteiner
{
    margin: 10px;
}

.CardList
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.card
{
    padding:5px;
    margin: 10px;
    width: 290px;
    height: 290px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
}

.CardTitle
{
    margin: 0 auto;
    font-weight: 300;
    font-size: 2.25em;
}

.WeatherValue
{
    margin: 0 auto;
    margin-top: 80px;
    float: right;
    color: #a89737;
    font-weight: 300;
    font-size: 5em;
    line-height: .2em;
}

.CardButton
{
    margin: 0 auto;
    margin-top: 60px;
    font-weight: bold;
    font-size: 1.3em;
}

    .CardButton:hover
    {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
